
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

PUBLIC_URL=http://localhost:3000


PORT=3000

# A ver el puerto y el public_url no se usan pa una bosta, pero los meto por si acaso.