
SUPABASE_URL=https://vwejghgsnibjbqkuhklv.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3ZWpnaGdzbmliamJxa3Voa2x2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NDAyMjUsImV4cCI6MjA5NDAxNjIyNX0.nC06Dj8SMmcR-W4T-7E9Fs1DAT0h4UEUtDxz2maQiHQ

PUBLIC_URL=http://localhost:3000


PORT=3000

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GUILD_ID=
SESSION_SECRET=